*{margin:0;padding:0}html{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{margin:0 auto;background-color:#fafafa;font-family:"Open Sans", Helvetica, Arial, sans-serif}html[lang=kr] p,html[lang=kr] h1,html[lang=kr] h2,html[lang=kr] h3,html[lang=kr] h4{word-break:keep-all}


