/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * eurostile:
 *   - http://typekit.com/eulas/00000000000000007735a6d1
 *   - http://typekit.com/eulas/00000000000000007735a6e0
 * industry:
 *   - http://typekit.com/eulas/00000000000000007735a64e
 * sofia-pro:
 *   - http://typekit.com/eulas/00000000000000007735a148
 *   - http://typekit.com/eulas/00000000000000007735a14e
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-06-10 04:54:23 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=wkv7kbv&ht=tk&f=24537.24539.25310.25750.25763&a=12214038&app=typekit&e=css");

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/5236f2/00000000000000007735a148/30/l?primer=2b462c33cd233ec89b70361c82c2edd790df1ab7002d6ec7375db054a37b19f9&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/5236f2/00000000000000007735a148/30/d?primer=2b462c33cd233ec89b70361c82c2edd790df1ab7002d6ec7375db054a37b19f9&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/5236f2/00000000000000007735a148/30/a?primer=2b462c33cd233ec89b70361c82c2edd790df1ab7002d6ec7375db054a37b19f9&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/09d302/00000000000000007735a14e/30/l?primer=2b462c33cd233ec89b70361c82c2edd790df1ab7002d6ec7375db054a37b19f9&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/09d302/00000000000000007735a14e/30/d?primer=2b462c33cd233ec89b70361c82c2edd790df1ab7002d6ec7375db054a37b19f9&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/09d302/00000000000000007735a14e/30/a?primer=2b462c33cd233ec89b70361c82c2edd790df1ab7002d6ec7375db054a37b19f9&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"industry";
src:url("https://use.typekit.net/af/44c438/00000000000000007735a64e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/44c438/00000000000000007735a64e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/44c438/00000000000000007735a64e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"eurostile";
src:url("https://use.typekit.net/af/d34cb9/00000000000000007735a6d1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d34cb9/00000000000000007735a6d1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d34cb9/00000000000000007735a6d1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"eurostile";
src:url("https://use.typekit.net/af/50b645/00000000000000007735a6e0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/50b645/00000000000000007735a6e0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/50b645/00000000000000007735a6e0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tk-sofia-pro { font-family: "sofia-pro",sans-serif; }
.tk-industry { font-family: "industry",sans-serif; }
.tk-eurostile { font-family: "eurostile",sans-serif; }
